@import url("../../../app.component.css");

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /*background-color: aquamarine;*/
  justify-content: center;
}

.flex-container > div{
  background-color: #545454;
  /*margin: 10px;*/
  /*width: 60%;*/
  padding: 10px;
}

p {
  color: azure;
  text-align: center;
}

#sushiName {
  display: block;
  color: #F2F2F2;
  font-size: xxx-large;
  text-align: left;
}

#sushiIngredient {
  display: block;
  color: #ffffff;
  font-size: large;
  text-align: left;
}

#sushiDescription {
  display: block;
  color: #ffffff;
  font-size: large;
  text-align: left;
}

#price {
  display: block;
  text-align: left;
  color: white;
  font-size: xx-large;
}

#newPrice {
  display: block;
  text-align: left;
  color: red;
  font-size: xx-large;
}

#oldPrice {
  display: block;
  text-align: left;
  color: grey;
  font-size: large;
  text-decoration: line-through;
  padding-bottom: 0;
}

span {
  padding-bottom: 10px;
}

img {
  height: 230px;
  width: 350px;
}
