<p>edit-sushi works!</p>

<div class="flex-container">
  <div>
    <form [formGroup]="editSushiForm" (submit)="submitEditSushi()">
      <fieldset>
        <legend>Edit {{ sushiById.name }}</legend>

        <table>
            <tr>
                <td><label for="sushi-name">Name</label></td>
                <td><input id="sushi-name" type="text" formControlName="sushiName"></td>
            </tr>

            <tr>
                <td><label for="actual-price">Actual price</label></td>
                <td><input id="actual-price" type="number" formControlName="actualPrice"></td>
            </tr>

            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea id="description" formControlName="description" rows="10" cols="30"></textarea></td>
            </tr>

            <tr>
                <td colspan="2">Category:</td>
            </tr>

            @for (mc of mainCategories; track $index) {
            <tr>
                <td colspan="2"><label for="{{$index}}"><input id="{{$index}}" type="radio" formControlName="mainCategory" value="{{mc.name}}" />{{ mc.name }}</label></td>
            </tr>
            } @empty {
            <tr>
                <td colspan="2">No categories!</td>
            </tr>
            }

            <tr>
                <td colspan="2">Ingredients:</td>
            </tr>

            <tr>
                <td colspan="2">
                    <div formArrayName="ingredients">
                        @for (child of editSushiForm.controls.ingredients.controls; track $index) {
                        <div formGroupName="{{$index}}">

                            <label for="Ingredient">Ingredient</label>
                            <input id="Ingredient" type="text" formControlName="name">
                            |
                            <label for="Ingredient">Amount</label>
                            <input id="Ingredient" type="number" formControlName="amount">
                            |
                            <button type="button" (click)="removeIngredient($index)">Remove</button>

                        </div>
                        }
                    </div>
                    <p><button type="button" (click)="addIngredient()">Add new ingredient</button></p>
                </td>
            </tr>

            

            <tr>
                <td colspan="2">
                    <button type="submit">Update!</button>
                </td>
            </tr>


        </table>
      </fieldset>
    </form>
  </div>
</div>
<pre><span style="color: white; background-color: gray">{{ editSushiForm.value | json }}</span></pre>
