<h1 id="tableLabel">
  @if (sushi.length >= 1) {
    <iframe src="https://www.youtube.com/embed/yvTMt_yY0T8?autoplay=1"
            width="600"
            height="400"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  }
</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (!sushi) {
  <em>
    Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a>
    for more details.
  </em>
}

<hr/>
<h2>LIST OF ALL SUSHI</h2>
@if (sushi) {
  <table>
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Old Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Ingredients</th>
      <th>Is hidden</th>
      <th>Actions</th>
      <!-- TODO: Add action buttons -->
    </tr>
    </thead>
    <tbody>
      @for (s of sushi; track $index) {
        <tr>
          <td>
            <img src="{{s.imageUrl}}"
                 width="100"
                 height="100"
                 loading="lazy"
                 alt="Photo of {{s.name}}"/>
          </td>
          <td>{{ s.name }}</td>

          @if (s.actualPrice > s.oldPrice) {
            <td style="color: green">{{ s.actualPrice }}</td>
            <td style="color: red">{{ s.oldPrice }}</td>
          } @else if (s.actualPrice < s.oldPrice) {
            <td style="color: green">{{ s.actualPrice }}</td>
            <td style="color: red">{{ s.oldPrice }}</td>
          } @else {
            <td colspan="2" style="color: green">{{ s.actualPrice }}</td>
          }
          <td>{{ s.description }}</td>
          <td>{{ s.mainCategory }}</td>
          <td>
            @for (i of s.ingredients; track $index) {
              {{ i.amount }} x {{ i.name }}<br/>
              <hr/>
            }
          </td>
          <td>
            @if (s.isDeleted === 0) {
              {{ isHidden.NO }}
            } @else {
              {{ isHidden.YES }}
            }
          </td>
          <td>
            @if (s.isDeleted === 0) {
              <button
                id="hideButton"
                (click)="onHideClick(s)"
              >
                Hide
              </button>
            } @else {
              <button
                id="showButton"
                (click)="onShowClick(s)"
              >
                Show
              </button>
            }
            <a [routerLink]="['/sushishop/sushi/', s.id]"><button id="detailsButton">Details</button></a>
            <!-- // TODO: Add edit edit -->
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="9">No content!</td>
        </tr>
      }
    </tbody>
  </table>
}
<hr/>
